<div class="d-flex justify-content-between align-items-center border rounded p-3">
  <div>
    {{todo.text}}
  </div>
  <div>
    <button type="button" class="btn btn-sm mr-1"
      [ngClass]="todo.done ? 'btn-success' : 'btn-warning'" (click)="toggleTodo(todo.key)">{{todo.done ? "udone" : "done"}}</button>
    <button type="button" class="btn btn-info btn-sm">edit</button>
    <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteTodo(todo.key)">delete</button>
  </div>
</div>
