<section class="jumbotron">
  <form class="container d-flex flex-column align-items-center" (submit)="onSubmit()">
    <h1 class="jumbotron-heading">Welcome!</h1>
    <p class="lead text-muted">To get started, add some items to your list:</p>
    <div class="form-inline">
      <div class="form-group">
        <input [(ngModel)]="textTodo" name="todo" type="text" class="form-control mx-sm-3"
          placeholder="i want to do ..." autocomplete="off" />
        <button type="submit" class="btn btn-primary">add</button>
      </div>
    </div>
  </form>
</section>
